body {
	/* Background color set as workaround for Legacy Android issue:
	https://github.com/AppGyver/steroids/issues/381 */
	background-color:#fff;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.indexGrid {

}
.indexGrid .ui-block-c {
  /*background-color: blue;*/
  display: block;
  height: 60px;
  margin: 5px 1% 5px 0;
  width: 24.25%;
  text-decoration: none;
  text-align: right;
  vertical-align: bottom;
  padding: 5px 1%;
  border: 1px solid black;
}
.indexGrid > *:nth-of-type(4n) > a {
  /*background-color: green;*/
  margin-right: 0;
}