body {
	/* Background color set as workaround for Legacy Android issue:
	https://github.com/AppGyver/steroids/issues/381 */
	background-color:#000;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
.ui-mobile .ui-page {
  background-image: url("../icons/bg.jpg");
  background-repeat: repeat-x;
  background-color: black;
}
#hsLogo {
  margin: 10px 0 0 2%;
}
#home {
  position: relative;
}
#flyingImg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  max-height: 275px;
  margin-bottom: 200px;
}

#homeMenu {
  z-index: 3;
  position: relative;
  margin: 100px 1% 0;
}

.indexGrid {

}
.indexGrid .ui-block-b, .indexGrid .ui-block-b:visited {
  /*background-color: blue;*/
  display: block;
  /*height: 60px;*/
  background-color: #949494;

  width: 33.3%;
  min-height: 8rem;

  text-decoration: none;
  text-align: center;
  color: white;
  vertical-align: bottom;
  padding: 25px 1%;
  font-size: 1.5rem;
  border: 5px solid #ad172b;
  text-shadow: 1px 1px 5px black;
}
#whayButton {
  color: #AD172B;
  text-decoration: none;
}
.indexGrid > *:nth-of-type(1) > a{
  
  border-width: 10px 10px 5px;
  width: calc(33.3% + 5px);
}
.indexGrid > *:nth-of-type(3) > a{
  
  border-left-width: 10px;
  border-top-width: 10px;
  width: calc(33.3% + 5px);
}
.indexGrid > *:nth-of-type(3n) > a {
  
  margin-right: 0;
  border-right-width: 10px;
}
.indexGrid > *:nth-of-type(3n + 1) > a {
  
  border-left-width: 10px;
}
.indexGrid > .ui-block-b.hidden  {
  visibility: hidden;
  width: calc(33.3% - 10px);
}

/* Quotes */

.italic-quote {
	font-style: italic;
}

/* save-the-day */

span {
	/* text-decoration: upcase; */
	font-weight: bold;
}

#which-hero-are-you {

}

#whichHeroGrid  .heroTypeLi{
  width: 33%;
  display: inline-block;
}
#whichHeroGrid li {
  display: inline-block;
}

#detailHero {

}
h1 {
  font-size: 3em !important;
  color: white;
   /*-webkit-text-stroke-width: 4px;*/
   -webkit-text-stroke-color: #ad172b;
  text-shadow: 4px 4px 0px #ad172b;
  padding: 0;
}
  .ui-header {
  background-color: transparent !important;
  border-width: 0;
}
.ui-content {
  background-color: white;
  margin: 0 3%;
  padding: 10px 2%;
}
.ui-title {
  margin: 0 !important;
}
#detailHero #assembleBtn {
  margin: 20px 3% 0;
  background: #d8c90b; /* Old browsers */
background: -moz-linear-gradient(top, #d8c90b 0%, #a58105 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8c90b), color-stop(100%,#a58105)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d8c90b 0%,#a58105 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d8c90b 0%,#a58105 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d8c90b 0%,#a58105 100%); /* IE10+ */
background: linear-gradient(to bottom, #d8c90b 0%,#a58105 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8c90b', endColorstr='#a58105',GradientType=0 ); /* IE6-9 */
border-width: 0;
margin-bottom: 20px;
}
#detailHero #assembleBtn > a{
  /*background-color: yellow;*/
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: larger;
}